
.titulo-card {
  display: flex;
  width: fit-content;
  align-items: flex-start;
}

.titulo-card {
  width: fit-content;
  margin: 0 auto;
}

.titulo-card {
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: fit-content;
  justify-content: center;
  justify-self: center;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 215px;
  border: 1px solid var(--vermelho);
  padding-bottom: 5px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin: 0;
}

@media (hover: hover) and (pointer: fine) {
    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 0 15px var(--vermelho);
    }
}

.card a {
  text-decoration: none;
  font-weight: bold;
  color: var(--branco);
}

.card div#autor {
  color: var(--cinza-claro);
  font-size: 0.8em;
}
.card:active {
    transform: none;
}

