
#footer ul {
  list-style: none;
  color: #888888;
  gap: 10px;
  font-size: 0.9em;
  padding: 0px;
}

#footer ul li {

  margin: 8px 0px;
}

.listas-rodape {
  display: flex;
  gap: 70px;
}

div.listas-rodape a{
  text-decoration: none;
  color: #888888;
}
div.listas-rodape a:hover{
  color:rgb(180, 4, 4);
}

#footer>hr {
  border: none;
  border-top: 1px solid rgb(26, 23, 23);
}

@media(max-width:990px) {
  .listas-rodape {
    flex-direction: column;
    gap: 20px 10px;
    margin: 0 auto;
  }
}
.gif {
  width: 250px;
}

@media(max-width:990px){
  .gif{
    display: block;
  margin: 0 auto;
  }
}
.rodape{
  display: flex;
  gap: 50px;

}

@media(max-width:990px){
  .rodape{
    flex-direction: column;
  }
}