.modal{
    display: none;
}

.modal:target{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset:  0;
}

.modal:target img{
    width: 700px;
    max-width: 100%;
    z-index: 5;
    animation: aumentar 0.5s ;
}

.modal:target a{
    position: absolute;
    inset: 0;
    background: black;
    opacity: 0.7;
}

@keyframes aumentar{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}