.borda{
    border: 1px solid yellow;
}

.modal{
    display: none;
}

.modal:target{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0000ff;
    position: fixed;
    inset:  0;
}

.modal:target img{
    width: 700px;
    max-width: 80%;
    z-index: 5;
}

.modal:target a{
    position: absolute;
    inset: 0;
    background: black;
}